[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/yuriyvolkov/vim-snipmate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ruby-debugger"]
	path = bundle/ruby-debugger
	url = http://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/shoulda"]
	path = bundle/shoulda
	url = git://github.com/tsaleh/vim-shoulda.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git://github.com/rafaelfranca/snipmate-snippets.git
